<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator :: Error Page</title>
</head>
<body>
    <header>
        <h1>Simple Calculator :: Error Page</h1>
    </header>
    <main>
        <h2 style="display:inline-block; color:red;">Oops... Page Not Found!</h2>
        <a href="/home">Go back to Home Page</a>
        <section>
            <article>
                <p>The resource url you have requested is not available on this server.</p>
                <p>Error 404</p>
            </article>
        </section>
    </main>
</body>
</html>