<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator :: Result Page</title>
</head>
<body>
    <header>
        <h1>Simple Calculator :: Result Page</h1>
    </header>
    <main>
        <h2 style="display:inline-block; color:skyblue;">The caluclated value is: #{result}</h2>
        <br>
        <a href="/home">Go back to Home Page</a>
    </main>
</body>
</html>